@import "../all.css?v=1.1206";

/**
* ESG_Events
*/
.page-hero img {
	height: 40vh;
	height: 40dvh;
	object-position: 50% 35%;
}

@media screen and (min-width: 576px) {
	.page-hero img {
		height: 60vh;
		height: 60dvh;
	}
}

.page-hero-content {
	background-image: linear-gradient(transparent, var(--black1_cons));
	color: var(--bs-light);
}

.all-events .box {
	overflow: hidden;
}

@media screen and (max-width: 576px) {
	.all-events .box {
		min-height: 35vh;
		min-height: 35dvh;
	}
}

.all-events .box .event-summary {
	background-image: linear-gradient(transparent, var(--black1_cons));
}

.all-events .box .event-description {
	background-color: var(--myBlue1_cons);
}

.all-events .box .event-description a {
	background-color: var(--myBlue2);
	border: 1px solid var(--white2_cons);
}

.all-events .event-date {
	filter: drop-shadow(0 0 .125rem var(--black_cons));
	animation: slideInLeft var(--trans);
}

.all-events .event-type {
	clip-path: polygon(1rem 0, 100% 0, 100% 100%, 0 100%);
	animation: slideInRight var(--trans);
}

.all-events .box:hover .event-description {
	animation: fadeIN .5s forwards;
	-webkit-backdrop-filter: blur(1px);
	backdrop-filter: blur(1px);
}

.all-events .box:hover .event-summary {
	display: none;
}